body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: auto;
}

header {
    display: grid;
    
    
}
#logo{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6600;
    
}
#logo>img {
    grid-column: 1;
    width: 150px; 
    height: auto; 
    margin-left: 50px;
  }
#logo>p{
 
    font-weight: bold;
    font-size: 30px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    list-style: none;
    background-color: #FF6600;
    font-family: Arial,  Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-right: 20px;
      
}
#menu>li {
    margin-left: 40px;
}
#midPageImg{
    display: flex;
    justify-content: center;
    
}

#board{
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: #FF6600 solid;
      
}
#whiteBoard{
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline #FF6600;
    display: flex;
    justify-content: center;
}
#anouncements{
    font-size: xx-large;
    display: flex;
    flex-direction: column ;
    justify-content:flex-start;
    margin-left: 100px;
    list-style: circle;
    line-height: 2;

}
#bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px; 
    border-bottom: #FF6600 solid;
}
#hog{
    margin-right: 45px;
    margin-left: 10px;
    padding-left: 40px;
    line-height: 1.5;
    text-align: justify;
   
}
#camden{
    margin-left: 45px;
    line-height: 1.5;
    text-align: justify; 
}
#footerImg{
    display: flex;
    justify-content: center;
    padding: 30px;
}
